#bouton{
    position:relative;
    top: 10px;
    left: 5px;
    
}

#chk-bouton:checked +nav{
    display: flex;
    transform: translateX(0);
}
#chk-bouton{
    display: none;
}


.Entete__navigation{
    transform: translateY(-200px);
    transition: transform .25s;
    padding-left: 60px;
    padding-top: 15px;
    display: flex;
    width:850px;
    flex-direction: row;
    position: fixed;
    gap: 60px;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    color: black;
}

