#bouton{
    position:fixed;
    

    top: 20px;
    
    
    
}

#chk-bouton:checked + .Entete__navigation{
    transform: translateX(0);
}

#chk-bouton{
    display: none;
}


.Entete__navigation{
    transform: translateY(-200px);
    transition: transform .25s;
    padding-left: 60px;
    padding-top: 15px;
    display: flex;
    width:850px;
    flex-direction: row;
    position: fixed;
    top: 50px;
    gap: 20px;
    justify-content: space-around;
    
    
    
}
a{
    color:#558abbdd;
    text-shadow: 5px 5px #ffffff;
    text-decoration: none;
    font-family:khiara, sans-serif;
    font-size: 3em;
}
a:hover{
    color:rgb(5, 4, 4);
    
    
}
a:active{
    font-size: 2rem;
    cursor: pointer;
    
}

