/* //////////////feuille de style principal tp2 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* //////////////////Téléchargements de police */
@font-face {
  font-family: khiara;
  src: url("../police/©\ 2020\ NUGS\ Project\ Khiara\ Script.ttf");
}
@font-face{
  
  font-family: niagato;
  src: url("../police/Niagato.ttf"), format('ttf');
}

/* //////////////////////////////////////////balise principale///////////////////////////////// */
body{
    background-image: url("../img/Fond3.jpg") ;
    
   

}
.global{
    max-width: 1000px;
    min-height:100vh ;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    padding: 30px;
    border: 3px solid rgb(19, 19, 19);
    background-color:#ffffffed;
    
}

  
  
  /* //////////////////////////////////////////////entete/////////////////////// */
  .Entete .global{
   background-image: url("../img/fond4.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

 }
 .Entete{
  display: flex;
  
  
}

.global .Entete{
  background-image: url("../img/Fond2.jpg");
}
.texte__header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  flex-wrap: wrap;
  color: #fff;
  font-family:'Times New Roman', Times, serif;
  text-shadow: 5px 5px #558ABB;
 
}
.pageWeb{
  font-size: 6rem;
  
}

/* /////////////////////////////////////////////////////////////////////inscription////////////////////////////////////////////  */
.Inscription .global{
  background-image: url(../img/Fond1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form{
  width: 1000px;
  display: flex;
  /* background-color: #558ABB; */
  justify-content: center;
  align-items: center;
  /* background-image: url("../img/Fond1.jpg");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover; */
  
}
.form .boite{
  width: 750px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  


}

.boite .boite__nom{
  position: relative;
  width: 45%;
  height: 50px;
  margin: 13px 0;
}
.boite .boite__nom input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid white;
  outline: none;
  font-size: 16px;
  border-radius: 6px;
  padding: 15px 15px 15px 40px ;
  

} 
.boite .boite__nom input::placeholder{
  color: #fff;
}
.boite input{
  height:50px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 2px solid #fff;
}
.boite input::placeholder{
  color: black;
  font-family: niagato;
}
.icon{
  position:absolute;
  left:3%;
  top: 20%;
  /* transform: translateY(); */
  
}
.form .bouton__form{
  width: 100%;
  height: 30px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0, 0, .1);
  cursor: pointer;
  font-size: 30px;
  font-family: niagato;
  

}
.bouton__input input {
  padding-bottom: 5px ;

}
.colonne fieldset{
  border-radius: 6px;
}


.colonne{
  
  border-radius: 10px;
  /* display: flex; */

}

.colonne h2{
  text-align: center;
  color: #111010;
  font-size: 46px;
  text-shadow: 5px 0px #ffffff9c;
  
  font-family: khiara;
}
#form h1{
  text-align: center;
  font-size: 72px;
  text-shadow: 5px 0px #ffffffcd;
  color: #0b0b0b;
  font-family: niagato, sans-serif;
}

label{
  color: #fff;
  font-family: khiara ;
  font-size: 36px;
  
}


/* /////////////////////////////////////////////////////////////////tableau/////////////////////////////////////////// */
.Tableau .global{
  background-image: url("../img/Fond2.jpg");
  background-position: center;

}
.tableau__{
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  
}
.tableau{
  width:900px;
  
  
  height: 600px;
  
}
.tableau thead{
  height: 30px;

}
.tableau .diagonal{
  transform: rotate(45deg);
  text-align: center;

}
.centre{
  text-align: center;
}

.caption_tableau{
  font-size: 36px;
  padding-bottom: 20px;
  font-family: niagato, sans-serif;
}
tr th{
  background-color: #558abb68;
  
}
thead tr{
  font-weight: 200;
}
tr td{
  background-color: #ffffff59;
}
.indisponible{
  background-color: rgba(220, 20, 60, 0.393);
}


/* ////////////////////////////////////////////////////////Articles Principaux////////////////// */
.article{
    display:flex;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
    padding: 5px;
    border-radius: 56px;
    border: hidden;
  
  }
  
  
  .article figure{
  flex: 0 0 300px;
  /* transform: scale(.9);
  filter:grayscale(1);
  transition: transform .25s, filter .25s; */
  
  }
  .article figure img {
    border-radius: 50%;
    width : 100%;
}

  .article:nth-of-type(odd) figure{
    order : 9;
  }
  .article:hover{
    transform: scale(2);
  /* filter:grayscale(1); */
  transition: transform 2.5s ease-in-out ;
  background-color: #fff;
  align-self: baseline;
  
  
  }
  .Articles h1{
    height: 0;
    font-family: khiara, sans-serif;
    font-size: 72px;
    padding-top: 45px;
    color: black;

  }
  .Texte{
    padding-left: 25px;
    
    display: flex; 
    flex-direction:column;
    /* flex-wrap: nowrap;  */
    
  }
  
  figure figcaption{
    text-align: center;
    font-family: niagato, sans-serif;
    font-size: 20px;
    
  }
  .Texte h2{
    font-family: niagato, sans-serif;
    font-size: 40px;
    color:#558ABB;
  }
  
/* /////////////////////////////////////////////////////galerie///////////////////////////////// */
.h1__Galerie{
  text-align: center;
  font-family: niagato, sans-serif;
  font-size: 46px;
  padding-top: 40px;
  padding-bottom: 20px;
  color: black;
  width: 1000px;
  height: 0;
}
.galerie__complete{
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
}

.img__galerie{

  padding: 10px;
}
  
  
  
.image:hover{
  transform:rotate(1turn);
  transition: transform 2.5s ease-in-out;
}
.image{
  border-radius: 20px;
  border: 4px dashed #19457b;
}
.Galerie .img__galerie h1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #558abbab;
  
}
.Galerie a{
  
  text-decoration: none;
  text-align: center;
  width: 1000px;
}
.Galerie a:hover{
  color: red;
  text-decoration: underline;
}
.Galerie a:active, a:visited{
  color: black;
  font-size: 1em;
}
/* ///////////////////////////////////////////////////////video//////////////////////////////////////////////////////  */

.video .global{
  background-image: url(../img/Fond5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.video__{
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
  
}
.bandeAnnonce{
  width: 800px;
  height: 600px;
  display: flex;
  
}
.bandeAnnonce iframe{
  display: flex;
  align-self: center;
}
.bandeAnnonce h1{
  display: flex;
  align-self: center;
  font-family: niagato, sans-serif;
}
iframe{
  border-radius: 15px;
}

.Pied .global{
  background-color: black;
   
}

