*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* //////////////feuille de style principal tp2 */

/* //////////////////Téléchargements de police */


body{
    background-image: url("../img/Fond3.jpg") ;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-color: #ffffff20;
    backdrop-filter: blur(5px); */

    



}
.global{
    max-width: 1000px;
    min-height:100vh ;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    padding: 30px;
    border: 3px solid rgb(19, 19, 19);
    background-color:#ffffffed;
    
}
/* .globale{
  max-width: 1000px;
  min-height:100vh ;
  background-image: url("../img/") ;
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;

  margin: 0 auto;
  background-color: rgba(0,0, 0,0,1);
  padding: 30px;
  border: 3px solid rgb(19, 19, 19);

} */
 /* //////////////////////////////////////////////entete/////////////////////// */
.logo{
  display: flex;
  flex-direction:column-reverse;
  
  
  
  
  
  
  
}
.te{
  flex: 1 1 400px;
  
}


img{
  flex: 1 1 400px;
  
}
/* /////////////////////////////////////////////////////////////////tableau/////////////////////////////////////////// */
.tableau{
  border: 2px solid black;
}
th{
  border: 2px solid black;

}
td{
  border: 2px solid black;
}

/* ////////////////////////////////////////////////////////Articles Principaux////////////////// */
.article{
    display:flex;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
    padding: 5px;
  
  }
  
  
  .article figure{
  flex: 0 0 300px;
  /* transform: scale(.9);
  filter:grayscale(1);
  transition: transform .25s, filter .25s; */
  
  }
  .article figure img {
    border-radius: 50%;
    width : 100%;
}

  .article:nth-of-type(odd) figure{
    order : 9;
  }
  .article:hover{
    transform: scale(2);
  /* filter:grayscale(1); */
  transition: transform 2.5s;
  background-color: #fff;
  align-self: baseline;
  
  
  }
  .Texte{
    padding-left: 25px;
    
    display: flex; 
    flex-direction:column;
    /* flex-wrap: nowrap;  */
    
  }
  
  figcaption{
    text-align: center;
  }
  h1{
    text-align: center;
  }
/* /////////////////////////////////////////////////////gallerie///////////////////////////////// */
.galerie{
  display: flex;
  flex-direction: row;

}
.h1{
  width: 800px;
}

