*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* //////////////feuille de style principal tp2 */

/* //////////////////Téléchargements de police */


body{



}
.global{
    max-width: 1000px;
    min-height:100vh ;
    margin: 0 auto;
    background-color: rgba(0,0, 0,0,1);
    padding: 30px;
    border: 3px solid lightpink;
    
}
#section-1{
    background-color: rgb(190, 220, 248);
    
 }